<!DOCTYPE html>

<head>
    <h1>Sokrates</h1>
</head>

<body>
    <div>
        <form method="POST" action="/v1">
            <col>
                <textarea name="title" id="title" placeholder="Post title" style="font-family: 'Arial'">{{ title }}</textarea>
                <textarea name="body" id="body" rows="4" cols="50" placeholder="Post body" style="font-family: 'Arial'">{{ body }}</textarea>
                <button type="submit">Submit to Sokrates</button>
            </col>
        </form>
        <textarea name = "veredict" id="veredict" rows="10" cols="100" style="font-family: 'Arial'">{{ veredict }}</textarea>
    </div>
</body>